In [21]:
import pandas as pd
file_path = r"C:\Users\EJ312WS\Downloads\2_Normal (2).mat\prb2.xlsx"
data = pd.read_excel(file_path)


print(data.head())

            Athlete  Age        Country  Year Closing Ceremony Date  \
0    Michael Phelps   23  United States  2008            2008-08-24
1    Michael Phelps   19  United States  2004            2004-08-29
2    Michael Phelps   27  United States  2012            2012-08-12
3  Natalie Coughlin   25  United States  2008            2008-08-24
4     Aleksey Nemov   24         Russia  2000            2000-10-01

        Sport  Gold Medals  Silver Medals  Bronze Medals  Total Medals
0    Swimming            8              0              0             8
1    Swimming            6              0              2             8
2    Swimming            4              2              0             6
3    Swimming            1              2              3             6
4  Gymnastics            2              1              3             6

In [22]:

gold_medals_per_sport = data.groupby('Sport')['Gold Medals'].sum()


print(gold_medals_per_sport)

Sport
Alpine Skiing                 12
Archery                       14
Athletics                     55
Badminton                      6
Biathlon                      31
Bobsleigh                      6
Canoeing                      34
Cross Country Skiing          35
Cycling                       40
Diving                        27
Equestrian                    21
Fencing                       16
Gymnastics                    56
Nordic Combined                6
Rowing                        10
Shooting                       9
Short-Track Speed Skating     29
Ski Jumping                    6
Speed Skating                 23
Swimming                     185
Synchronized Swimming         16
Table Tennis                  20
Taekwondo                      1
Tennis                        10
Trampoline                     0
Triathlon                      1
Waterpolo                    102
Weightlifting                 60
Wrestling                     70
Name: Gold Medals, dtype: int64

# Calculate the total number of medals for each country across all years

In [23]:

total_medals_per_country = data.groupby('Country')['Total Medals'].sum()


total_medals_per_country

Country
Armenia            9
Australia        197
Azerbaijan        14
Bahamas            2
Belarus           24
                ...
United States    416
Uzbekistan         8
Venezuela          1
Vietnam            1
Zimbabwe           7
Name: Total Medals, Length: 73, dtype: int64

In [24]:
 athlete_medals = data.groupby('Athlete')[['Gold Medals', 'Silver Medals']].sum()

In [25]:
athlete_medals

                    Gold Medals  Silver Medals
Athlete
Aaron Peirsol                 5              1
Adam Malysz                   0              3
Adam Pine                     1              1
Adam Saytiyev                 1              0
Adam Van Koeverden            1              0
...                         ...            ...
Zou Kai                       5              0
Zsolt Varga                   1              0
Zulfiya Chinshanlo            1              0
Ádám Steinmetz                1              0
Živko Gocic                   0              0

[1178 rows x 2 columns]

In [28]:
athlete_medals = data.groupby('Athlete')[['Gold Medals']].sum()

total_gold_medals = athlete_medals.sum()
print("Total number of gold medals:", total_gold_medals)

Total number of gold medals: Gold Medals    901
dtype: int64

In [30]:
athlete_medals = data.groupby('Athlete')[['Silver Medals']].sum()

total_silver_medals = athlete_medals.sum()
print("Total number of silver medals:", total_silver_medals)

Total number of silver medals: Silver Medals    754
dtype: int64

## gold and silver total number of medals

In [33]:
total_gold_silver_medals = total_silver_medals + total_gold_medals
print("Total number of gold and  silver medals:", total_gold_silver_medals)

Total number of gold and  silver medals: Silver Medals    1508
dtype: int64

# Total silver and bronze medals according to country, sports, year

In [47]:
total_medals = data.groupby(['Country', 'Sport', 'Year'])[['Silver Medals', 'Bronze Medals']].sum()


total_medals = total_medals.assign(Total_Medals=total_medals.sum(axis=1))


print(total_medals)

                               Silver Medals  Bronze Medals  Total_Medals
Country    Sport         Year
Armenia    Weightlifting 2000              0              1             1
                         2008              0              3             3
                         2012              0              1             1
           Wrestling     2008              0              2             2
                         2012              1              1             2
...                                      ...            ...           ...
Uzbekistan Wrestling     2012              0              1             1
Venezuela  Weightlifting 2004              0              1             1
Vietnam    Weightlifting 2008              1              0             1
Zimbabwe   Swimming      2004              1              1             2
                         2008              3              0             3

[525 rows x 3 columns]

In [49]:
total_medals

                               Silver Medals  Bronze Medals  Total_Medals
Country    Sport         Year
Armenia    Weightlifting 2000              0              1             1
                         2008              0              3             3
                         2012              0              1             1
           Wrestling     2008              0              2             2
                         2012              1              1             2
...                                      ...            ...           ...
Uzbekistan Wrestling     2012              0              1             1
Venezuela  Weightlifting 2004              0              1             1
Vietnam    Weightlifting 2008              1              0             1
Zimbabwe   Swimming      2004              1              1             2
                         2008              3              0             3

[525 rows x 3 columns]

# CHINA --> silver and bronze medals according to country, year

In [53]:
china_medals = data[data['Country'] == 'China'].groupby('Year')[['Silver Medals', 'Bronze Medals']].sum()
china_medals

      Silver Medals  Bronze Medals
Year
2000             13              5
2002              4              3
2004              6              1
2006              1              1
2008              8             12
2010              0              0
2012             13              6

# Total number of the Bronze Medals in Swimming

In [10]:

total_bronze_swimming = data[data['Sport'] == 'Swimming']['Bronze Medals'].sum()
total_bronze_swimming

106